@charset "UTF-8";

	.bg{
	 	background-size: 100%;
		background-color: #D3D3D3;
/* 		background-image: url(/shop/bg2.png); */
		background-attachment: fixed;
	}
	.in{
	 padding-left: 20px;
	}
	a{ 
		text-decoration: none;	
		display:block;	
	}
	.content{
	background-color: white; 
	margin-top: 50px;
	}
	
	.inputInfo{
		border: 1px solid;
		border-color: #F4A460;
	}
	
	.findPageInput{
		border: 1px solid;
		border-color: #778899;
	}
	
	